body{
    background-color: #e0e0dd;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.ProductContainer {
    margin-top: 6.9%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.IndividualProduct {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 4%;
    border: 1px solid rgb(158, 25, 114);
    box-shadow: 0 0 1px 2px;
    justify-content:space-around;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    z-index: 1;
}

.Producttitle {
    font-size: 1em;
}

.ProductImage {
    padding: 20px;
    width: 80%;
    height: 50%;
    border-radius: 20px;
}
.ProductCategory{
    font-size: 1.5em;
    font-weight: 600;
}
.ProductDescription{
    font-size: 0.8em;
    text-align:  center;
}

.ProductPrice{
    font-size: 2em;
    font-weight: 600;
}
.productsrate{
    color: rgb(29, 33, 29);
    font-weight: 700;
}

.ratingcolum{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width:500px) {

    .ProductContainer{
        margin-top: -10%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .IndividualProduct{
        width: 100%;
    }
    .ProductImage{
        width: 80%;
        height: 50%;
    }

    .product-container{
        margin-top: 6.9%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid rgb(74, 36, 187);
    }
}

.product-container{
    margin-top: 6.9%;
    margin-left: 31%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}